.App {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.Component {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid black;
  padding: 1em;
  margin: 2em;
}

.Component > * {
  margin: auto;
}

#incrementingNumber {
  font-size: 5em;
  width: 1em;
  margin: auto;
  text-align: center;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
}

#incrementingNumber:hover {
  cursor: pointer;
}

#phoneNumber {
  text-align: center;
}

#phoneNumberReset {
  width: 50%;
  margin: auto;
  margin-top: 1em;
}

.error {
  color: red;
}

.success {
  color: green;
  font-size: 1.5em;
}